body {
  margin: 0;
  overflow-x: hidden;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}




































.nav-item {
  position: relative;
}

.collapse {
  margin-right: 2vw;
}

.nav-item::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #fbff00;
  /* Change this to your desired color */
  bottom: -4px;
  left: 0;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.nav-item:hover::after {
  transform: scaleX(1);
}

.enlarge-image {
  margin-left: 2vw;
  display: inline-block;
  position: relative;
}

.enlarge-image img {
  transition: transform 0.3s ease;
}

.enlarge-image:hover img {
  transform: scale(1.1);
}


@keyframes color {
  0% {
    background-color: rgb(0, 0, 0);
  }

  25% {
    background-color: rgb(60, 26, 26);
  }

  50% {
    background-color: rgb(21, 21, 57);
  }

  100% {
    background-color: rgb(12, 31, 18);
  }
}

.navbar.anim {
  background: linear-gradient(to left, #eb4f4f, #22155c);
  border-bottom-left-radius: 50% 20px;
  border-bottom-right-radius: 50% 20px;
  animation: slideInRight 0.5s;
}




.navbar.animated {
  width: 100%;
  /* animation: color 20s linear infinite; */
  border-bottom-left-radius: 50% 20px;
  border-bottom-right-radius: 50% 20px;
  background: linear-gradient(to left, #4A0000, #000033);
}

@keyframes slideInRight {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}


.navbtn {
  background-color: rgb(192, 247, 96);
  font-weight: 600;
  font-size: small;
  color: black;

}

.navbtn:hover {
  background-color: rgb(158, 193, 75);
  color: black;

}

.navbtn:active{
  transform: scale(1.1);
}
.sp{
  color: #dd4b4f;
}
#registerDiv {
  position: relative;
  height: 100vh;
  width: 100vw;
}

#registerDiv::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: url(https://img.freepik.com/free-vector/recruitment-agency-searching-job-applicants_1262-19873.jpg?w=1380&t=st=1688273587~exp=1688274187~hmac=d4468ba83efb59a2e96e946899f4acccc76fb29d7f76c3217cea7c2779bdb781);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 0.1;
  z-index: -1;
}

#containerRegister{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#fnln{
  display: flex;
}

#cardDiv{
  max-width: 440px;
  max-height: 540px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(245, 83, 83, 0.247);
}

.registerbtn{
  background-color: rgb(247, 96, 96);
  font-weight: 600;
  font-size: small;
  color: black;
}
.registerbtn:hover{
  background-color: rgb(187, 76, 76);
  font-weight: 600;
  font-size: small;
  color: black;
}
.registerbtn:active{
  transform: scale(1.1);
}
input::placeholder {
  font-size: smaller;
  font-family:Arial, Helvetica, sans-serif ;
}


#loginDiv {
  position: relative;
  height: 100vh;
  width: 100vw;
}

#loginDiv::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: url(https://img.freepik.com/free-vector/gray-abstract-wireframe-background_53876-99911.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 1;
  z-index: -1;
}
#containerlogin{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}





#cardDivL{
  max-width: 440px;
  max-height: 540px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(245, 83, 83, 0.247);
}

.registerbtnL{
  background-color: rgb(247, 96, 96);
  font-weight: 600;
  font-size: small;
  color: black;
}
.registerbtnL:hover{
  background-color: rgb(187, 76, 76);
  font-weight: 600;
  font-size: small;
  color: black;
}
.registerbtnL:active{
  transform: scale(1.1);
}
input::placeholder {
  font-size: smaller;
  font-family:Arial, Helvetica, sans-serif ;
}























.contact-form {
  width: 400px;
  height: 600px;
  margin: 0 auto;
  background-color: #f9f9f9;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.contact-form h2 {
  text-align: center;
  margin-bottom: 30px;
  color: #333;
}

.contact-form form {
  display: grid;
  grid-gap: 20px;
}

.contact-form .form-group {
  display: grid;
  grid-template-columns: 1fr;
}

.contact-form label {
  font-weight: bold;
}

.contact-form input,
.contact-form textarea {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
  transition: border-color 0.3s ease-in-out;
}

.contact-form input:focus,
.contact-form textarea:focus {
  outline: none;
  border-color: rgb(247, 76, 76);
}

.contact-form textarea {
  resize: vertical;
}

.contact-form button {
  padding: 12px 24px;
  border: none;
  border-radius: 6px;
  background-color: rgb(247, 76, 76);
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.contact-form button:hover {
  background-color: rgb(247, 96, 96);
}

.contact-form button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.contact-form .success-message {
  color: #4caf50;
  text-align: center;
  margin-top: 20px;
}

.contact-form .error-message {
  color: #f44336;
  text-align: center;
  margin-top: 20px;
}

#cardDivC{
  max-width: 440px;
  max-height: 640px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(245, 83, 83, 0.247);
  overflow-y:auto;
}







#map{
  width: 800px;
  height: 600px;
  border-radius: 15px;
}

.pagination__page {
  display: inline-block;
  margin: 0 4px;
}

.pagination__link {
  color: #333333;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  padding: 8px 12px;
  text-decoration: none;
  cursor: pointer;
}
.pagination__link:hover {
  color: #333333;
  background-color: #ef6464;
  border: 1px solid #8a1f1f;
  padding: 8px 12px;
  text-decoration: none;
  cursor: pointer;
}

.pagination__link--active {
  background-color: #f26767;
  color: #000000;

}

.pagination{
 justify-content: center;
 align-items: center;
 margin-top: 30px;
}
.pagination__button a{
  background-color: rgb(247, 96, 96);
  color: black;
  border-radius: 5px;
  text-decoration: none;
  padding: 10px;
}
.pagination__button a:hover{
  background-color: rgb(247, 96, 96);
  color: black;text-decoration: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px;

}

.fa{
  color: rgb(169, 166, 166);
  font-size: 15px;
}
.pagination__button--disabled a:hover{
  cursor: not-allowed;
}
#timecard{
  background-color: rgb(234, 234, 234);
  padding:3px 6px;
  border-radius: 5px;
}
.view1btn{
  background-color: rgb(247, 96, 96);
  font-weight: 600;
  font-size: small;
  color: black;
}
.view1btn:focus{
  background-color: rgb(247, 96, 96);
  font-weight: 600;
  font-size: small;
  color: black;
  outline: 3px groove rgb(251, 68, 68);
}
.view1btn:active{
  transform: scale(1.1);
}
.view2btn{
  background-color: rgb(59, 59, 242);
  font-weight: 600;
  font-size: small;
  color: white;
}
.view2btn:focus{
  background-color: rgb(59, 59, 242);
  font-weight: 600;
  font-size: small;
  color: white;
  outline: 3px groove rgb(37, 37, 224);
}
.view2btn:active{
  transform: scale(1.1);
}


.icontitles{
  font-size: 13px;
  color: #474646;
}
#mainCard{
  min-width:  540px;
  min-height: 300px;
  border: 2px solid rgb(251, 219, 219);
  border-radius: 20px;
  box-shadow: 10px 10px rgba(255, 0, 0, 0.030);
}









form.search input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
}

form.search button {
  float: left;
  width: 20%;
  padding: 10px;
  background: rgb(59, 59, 242);
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}

form.search button:hover {
  background: rgb(39, 39, 213);
}

form.search::after {
  content: "";
  clear: both;
  display: table;
}
.search{
  margin:auto;
  max-width:300px;
  display: flex;
  justify-content: end
}
.jobSelectoption{
  width: 300px;
  height: 50px;
}